@import "tailwindcss";

@layer base {
  .prose h3 {
    @apply text-2xl font-bold text-gray-900 mt-8 mb-4;
  }
  .prose p {
    @apply text-gray-700 leading-relaxed mb-6;
  }
  .prose ul {
    @apply list-disc pl-6 space-y-2 mb-6;
  }
  .prose li {
    @apply text-gray-700;
  }
  .prose i, .prose em {
    @apply text-indigo-600 not-italic font-medium border-b border-indigo-100;
  }
  .prose blockquote {
    @apply border-l-4 border-black pl-5 py-2 my-8 bg-gray-50 rounded-r-lg italic text-lg text-gray-800 shadow-sm;
  }
  .prose img {
    @apply rounded-3xl my-10 shadow-xl border border-gray-100 w-full object-cover;
  }
}